# Exercise 6a: numpy

## Aim: Get an overview of NumPy and some useful functions.

You can find the teaching resources for this lesson here: https://numpy.org/doc/stable/user/quickstart.html

### Issues covered:
- Importing NumPy
- Array creation
- Array indexing and slicing
- Array operations

## 1. Basics

### Importing NumPy

Q1. First, let's use the conventional way to import NumPy into our notebook. You'll need to run this cell to get the rest of the notebook to work!

In [2]:
import numpy as np

### Array creation

Q2. Let's start by creating some arrays - try to create an array using `a = np.array(1, 2, 3, 4)`. Does this work? Can you edit it to make it work?

In [4]:
a = np.array([1,2,3,4])

Q3. Take a look at the following numpy array:
```
[[7.0, 8.0, 4.0, 2.0],
 [12.0, 1.0, 0.0, 10.0],
 [0.0, 0.0, 0.0, 0.0]]
```
- How many axes does it have?
- What is the length of the array?

Hint: you can use `.ndim` and `.shape` to help if you enclose the array in `np.array()` to define the array.

In [6]:
a.ndim
a.shape

(4,)

Q4. Can you come up with an example of what a 3D array would look like? Use `np.zeros` to make it then print it out and have a look at `.ndim` and `.shape`

In [14]:
bones = np.zeros((3,3,3))
bones.ndim
bones.shape

(3, 3, 3)

Q5.
- How many elements are in your array? Use `.size` to check.
- What type are the elements in the array? Use `.dtype` to check.
- How many bites are in each element of the array? Use `.itemsize` to check.

In [17]:
bones.size
bones.dtype
bones.itemsize

8

Q6. Create a 1D array of nine numbers 1-9 using `a = np.linspace(1, 9, 9)`. Reshape this to be a 3x3 array and print it.

In [19]:
a = np.linspace(1,9,9)
a.reshape((3,3))

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

### Basic operations

Q7. What happens if you multiply the previous array by 2 using `b = a*2`?

In [22]:
b=a*2
b

array([ 2.,  4.,  6.,  8., 10., 12., 14., 16., 18.])

Q8. How do you do matrix multiplication? Try doing the matrix product of `a` and `b`.

In [23]:
a@b

570.0

Q9. When performing operations between arrays of different data types, numpy automatically converts the result to the more precise type - this is called upcasting. Let's demonstrate this concept:
- Create an array with 3 elements all set to one using `a = np.ones(3, dtype=np.int32)` and set the data type to `np.int32`
- Create a float array of 3 elements evenly spaced between 0 and Ï€ using `b = np.linspace(0, np.pi, 3)`. The data type will be `float64` by default
- Check the data type of both arrays
- Add the arrays `a` and `b` to make a new array `c`. Print the resulting array `c` and its data type.

In [29]:
a = np.ones(3,dtype=np.int32)
b = np.linspace(0,np.pi,3)
a.dtype
b.dtype
c = a +b
c.dtype

dtype('float64')

Q10. For matrix `a` in the previous question, what do you think `a.sum()` would be? Check your answer.

In [32]:
a.sum().dtype

dtype('int64')

Q11. Create an array using `np.ones(6).reshape(3,2)`. If we only want to sum each column, how would we do that?

In [36]:
d = np.ones(6).reshape(3,2)
print(d)
d.sum(axis=0)

[[1. 1.]
 [1. 1.]
 [1. 1.]]

array([3., 3.])

### Indexing

Q12.
- Create a 1D array of size 20 where each element is the cube of its index.
- Print the 5th element of `a`. Hint: your answer should be 64 - remember where we start indexing.

In [63]:
a=np.array([i**3 for i in range(0,20)])
a

array([   0,    1,    8,   27,   64,  125,  216,  343,  512,  729, 1000,
       1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859])

Q13. Slice the array to get elements from index 3 to index 7 (inclusive).

In [51]:
a[2:7]

[8, 27, 64, 125, 216]

Q14. Change every 3rd element to -1. This should give: `[ -1, 1, 8, -1, 64, 125, -1, ... ]`

In [65]:
a[::3] =-1
a

array([  -1,    1,    8,   -1,   64,  125,   -1,  343,  512,   -1, 1000,
       1331,   -1, 2197, 2744,   -1, 4096, 4913,   -1, 6859])

Q15. Reverse the array and print the result.

In [69]:
np.flip(a)

array([6859,   -1, 4913, 4096,   -1, 2744, 2197,   -1, 1331, 1000,   -1,
        512,  343,   -1,  125,   64,   -1,    8,    1,   -1])

Q16. Create a 3x4 numpy array `b` using `b = np.array([[2 * i + j for j in range(4)] for i in range(3)])`.

In [72]:
b=np.array([[2*i + j for j in range(4)] for i in range(3)])
b

array([[0, 1, 2, 3],
       [2, 3, 4, 5],
       [4, 5, 6, 7]])

Q17. Print the element in the second row and third column. This should be 4.

In [73]:
print(b[1,2])

4

Q18. Extract and print the second column as a 1D array.

In [75]:
print(b[:,1])

[1 3 5]

Q19. Extract and print a sub-array containing the last two rows.

In [109]:
print(b[1:3,:])

[[2 3 4 5]
 [4 5 6 7]]

Q20. Use slicing to replace the last row with the values `[7, 7, 7, 7]`.

In [111]:
b[-1,:]=[7,7,7,7]
b

array([[0, 1, 2, 3],
       [2, 3, 4, 5],
       [7, 7, 7, 7]])

Q21. Iterate over the elements of the array using the `.flat` attribute and print them.

In [114]:
for i in b.flat:
    print(i)

0
1
2
3
2
3
4
5
7
7
7
7

Q22. Create a 3D array `c` using `c = np.array([[[i * 10 + j * 5 + k for k in range(4)] for j in range(3)] for i in range(2)])`

In [117]:
c=np.array([[[i*10 +j*5 + k for k in range(4)] for j in range(3)] for i in range(2)])
c

array([[[ 0,  1,  2,  3],
        [ 5,  6,  7,  8],
        [10, 11, 12, 13]],

       [[10, 11, 12, 13],
        [15, 16, 17, 18],
        [20, 21, 22, 23]]])

Q23. Print all elements of the first layer of the array.

In [119]:
print(c[0,:,:])

[[ 0  1  2  3]
 [ 5  6  7  8]
 [10 11 12 13]]

Q24. Use `...` to print the last element of each 1D array contained within c.

In [120]:
print(c[...,-1,-1])

[13 23]

Q25. Modify the first column of the second layer to `[0, 0, 0]`.

In [122]:
c[1,:,0]=[0,0,0]
c

array([[[ 0,  1,  2,  3],
        [ 5,  6,  7,  8],
        [10, 11, 12, 13]],

       [[ 0, 11, 12, 13],
        [ 0, 16, 17, 18],
        [ 0, 21, 22, 23]]])