# Exercise 7: More About Pandas DataFrames

## Aim: Learn how to select certain data from a `Pandas` DataFrame.

### Issues covered:
- Using `loc` and `iloc` to locate data in a dataframe
- Slicing dataframes
- Creating subsets and masks

## 1. Using `loc` and `iloc`

Create a dataframe called `data` from the CSV file `data/europe_gdp.csv` and index it by the `country` column.

In [8]:
import pandas as pd
data = pd.read_csv("../data/europe_gdp.csv",index_col="country")
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820
Croatia,3119.236520,4338.231617,5477.890018,6960.297861,9164.090127,11305.385170,13221.821840,13822.583940,8447.794873,9875.604515,11628.388950,14619.222720
Czech Republic,6876.140250,8256.343918,10136.867130,11399.444890,13108.453600,14800.160620,15377.228550,16310.443400,14297.021220,16048.514240,17596.210220,22833.308510
Denmark,9692.385245,11099.659350,13583.313510,15937.211230,18866.207210,20422.901500,21688.040480,25116.175810,26406.739850,29804.345670,32166.500060,35278.418740
Finland,6424.519071,7545.415386,9371.842561,10921.636260,14358.875900,15605.422830,18533.157610,21141.012230,20647.164990,23723.950200,28204.590570,33207.084400
France,7029.809327,8662.834898,10560.485530,12999.917660,16107.191710,18292.635140,20293.897460,22066.442140,24703.796150,25889.784870,28926.032340,30470.016700
Germany,7144.114393,10187.826650,12902.462910,14745.625610,18016.180270,20512.921230,22031.532740,24639.185660,26505.303170,27788.884160,30035.801980,32170.374420
Greece,3530.690067,4916.299889,6017.190733,8513.097016,12724.829570,14195.524280,15268.420890,16120.528390,17541.496340,18747.698140,22514.254800,27538.411880
Hungary,5263.673816,6040.180011,7550.359877,9326.644670,10168.656110,11674.837370,12545.990660,12986.479980,10535.628550,11712.776800,14843.935560,18008.944440
Iceland,7267.688428,9244.001412,10350.159060,13319.895680,15798.063620,19654.962470,23269.607500,26923.206280,25144.392010,28061.099660,31163.201960,36180.789190
Ireland,5210.280328,5599.077872,6631.597314,7655.568963,9530.772896,11150.981130,12618.321410,13872.866520,17558.815550,24521.947130,34077.049390,40675.996350
Italy,4931.404155,6248.656232,8243.582340,10022.401310,12269.273780,14255.984750,16537.483500,19207.234820,22013.644860,24675.024460,27968.098170,28569.719700
Montenegro,2647.585601,3682.259903,4649.593785,5907.850937,7778.414017,9595.929905,11222.587620,11732.510170,7003.339037,6465.613349,6557.194282,9253.896111
Netherlands,8941.571858,11276.193440,12790.849560,15363.251360,18794.745670,21209.059200,21399.460460,23651.323610,26790.949610,30246.130630,33724.757780,36797.933320
Norway,10095.421720,11653.973040,13450.401510,16361.876470,18965.055510,23311.349390,26298.635310,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170
Poland,4029.329699,4734.253019,5338.752143,6557.152776,8006.506993,9508.141454,8451.531004,9082.351172,7738.881247,10159.583680,12002.239080,15389.924680
Portugal,3068.319867,3774.571743,4727.954889,6361.517993,9022.247417,10172.485720,11753.842910,13039.308760,16207.266630,17641.031560,19970.907870,20509.647770
Romania,3144.613186,3943.370225,4734.997586,6470.866545,8011.414402,9356.397240,9605.314053,9696.273295,6598.409903,7346.547557,7885.360081,10808.475610
Serbia,3581.459448,4981.090891,6289.629157,7991.707066,10522.067490,12980.669560,15181.092700,15870.878510,9325.068238,7914.320304,7236.075251,9786.534714
Slovak Republic,5074.659104,6093.262980,7481.107598,8412.902397,9674.167626,10922.664040,11348.545850,12037.267580,9498.467723,12126.230650,13638.778370,18678.314350
Slovenia,4215.041741,5862.276629,7402.303395,9405.489397,12383.486200,15277.030170,17866.721750,18678.534920,14214.716810,17161.107350,20660.019360,25768.257590
Spain,3834.034742,4564.802410,5693.843879,7993.512294,10638.751310,13236.921170,13926.169970,15764.983130,18603.064520,20445.298960,24835.471660,28821.063700
Sweden,8527.844662,9911.878226,12329.441920,15258.296970,17832.024640,18855.725210,20667.381250,23586.929270,23880.016830,25266.594990,29341.630930,33859.748350
Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280

Print out the GDP per capita for Belgium in 1957 (2nd column, 3rd row) using `iloc`.

_Hint: Remember that indexing starts from 0 in Python. You should get the value `9714.960623`._

In [11]:
print(data.iloc[2,1])

9714.960623

Use `loc` to print out GDP per capita for Belgium in 1957. You should get the same result as above.

In [12]:
print(data.loc["Belgium","gdpPercap_1957"])

9714.960623

Print GDP per capita for `Switzerland` for all years using `:`.

In [13]:
print(data.loc["Switzerland",:])

gdpPercap_1952    14734.23275
gdpPercap_1957    17909.48973
gdpPercap_1962    20431.09270
gdpPercap_1967    22966.14432
gdpPercap_1972    27195.11304
gdpPercap_1977    26982.29052
gdpPercap_1982    28397.71512
gdpPercap_1987    30281.70459
gdpPercap_1992    31871.53030
gdpPercap_1997    32135.32301
gdpPercap_2002    34480.95771
gdpPercap_2007    37506.41907
Name: Switzerland, dtype: float64

Print out GDP per capita in 1987 for all countries.

In [14]:
print(data.loc[:,"gdpPercap_1987"])

country
Albania                    3738.932735
Austria                   23687.826070
Belgium                   22525.563080
Bosnia and Herzegovina     4314.114757
Bulgaria                   8239.854824
Croatia                   13822.583940
Czech Republic            16310.443400
Denmark                   25116.175810
Finland                   21141.012230
France                    22066.442140
Germany                   24639.185660
Greece                    16120.528390
Hungary                   12986.479980
Iceland                   26923.206280
Ireland                   13872.866520
Italy                     19207.234820
Montenegro                11732.510170
Netherlands               23651.323610
Norway                    31540.974800
Poland                     9082.351172
Portugal                  13039.308760
Romania                    9696.273295
Serbia                    15870.878510
Slovak Republic           12037.267580
Slovenia                  18678.534920
Spain                     15764.983130
Sweden                    23586.929270
Switzerland               30281.704590
Turkey                     5089.043686
United Kingdom            21664.787670
Name: gdpPercap_1987, dtype: float64

Print out a slice of the data frame which shows GDP for countries between Denmark to Iceland from 1982 to 1992.

In [15]:
print(data.loc["Denmark":"Iceland","gdpPercap_1982":"gdpPercap_1992"])

         gdpPercap_1982  gdpPercap_1987  gdpPercap_1992
country
Denmark     21688.04048     25116.17581     26406.73985
Finland     18533.15761     21141.01223     20647.16499
France      20293.89746     22066.44214     24703.79615
Germany     22031.53274     24639.18566     26505.30317
Greece      15268.42089     16120.52839     17541.49634
Hungary     12545.99066     12986.47998     10535.62855
Iceland     23269.60750     26923.20628     25144.39201

Print out the last 3 columns for the last 3 rows of countries.

In [27]:
print(data.iloc[-3:,-3:])
help(max)

                gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Switzerland       32135.323010    34480.957710    37506.419070
Turkey             6601.429915     6508.085718     8458.276384
United Kingdom    26074.531360    29478.999190    33203.261280
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

What are the maximum GDP values between 1997-2007 for the last 3 countries alphabetically?

In [102]:
 print(data.loc[:,"gdpPercap_1997":"gdpPercap_2007"].iloc[-3:,:])
x=  data.loc[:,"gdpPercap_1997":"gdpPercap_2007"].iloc[-3:,:]
 print('\n',data.loc[:,"gdpPercap_1997":"gdpPercap_2007"].iloc[-3:,:].max())
y =  data.loc[:,"gdpPercap_1997":"gdpPercap_2007"].iloc[-3:,:].max()

                gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Switzerland       32135.323010    34480.957710    37506.419070
Turkey             6601.429915     6508.085718     8458.276384
United Kingdom    26074.531360    29478.999190    33203.261280

 gdpPercap_1997    32135.32301
gdpPercap_2002    34480.95771
gdpPercap_2007    37506.41907
dtype: float64

## 2. Creating subsets and masks

Create a variable called `subset` which contains only the data for Hungary to Netherlands between 1962 and 1972. Print out the subset.

In [51]:
subset = data.loc["Hungary":"Netherlands","gdpPercap_1962":"gdpPercap_1972"]
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Hungary         7550.359877     9326.644670    10168.656110
Iceland        10350.159060    13319.895680    15798.063620
Ireland         6631.597314     7655.568963     9530.772896
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670

Return a dataframe of boolean (`True` or `False`) values showing where the GDP values are greater than 10000.

In [52]:
print(subset > 10000)

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Hungary               False           False            True
Iceland                True            True            True
Ireland               False           False           False
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True

Create a boolean mask for the above and print the result of applying this to the subset.

In [54]:
mask = subset >10000
subset[mask]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Hungary                 NaN             NaN     10168.65611
Iceland         10350.15906     13319.89568     15798.06362
Ireland                 NaN             NaN             NaN
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567

What is the mean and standard deviation of the mask applied to this subset?

In [55]:
subset[mask].describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        4.000000
mean     11570.504310    12901.849450    14257.684795
std       1725.828803     2694.854690     3813.643151
min      10350.159060    10022.401310    10168.656110
25%      10960.331685    11671.148495    11744.119362
50%      11570.504310    13319.895680    14033.668700
75%      12180.676935    14341.573520    16547.234133
max      12790.849560    15363.251360    18794.745670

## 3. Extension Questions

1. Find the index of the maximum for each column of the dataset.

_Hint: You will need to make use of `idxmax()`._

In [61]:
data.idxmax()

gdpPercap_1952    Switzerland
gdpPercap_1957    Switzerland
gdpPercap_1962    Switzerland
gdpPercap_1967    Switzerland
gdpPercap_1972    Switzerland
gdpPercap_1977    Switzerland
gdpPercap_1982    Switzerland
gdpPercap_1987         Norway
gdpPercap_1992         Norway
gdpPercap_1997         Norway
gdpPercap_2002         Norway
gdpPercap_2007         Norway
dtype: object

2. Similarly, find the index of the minimum for each column of the dataset.

_Hint: You will need to make use of `idxmin()`._

In [62]:
data.idxmin()

gdpPercap_1952    Bosnia and Herzegovina
gdpPercap_1957    Bosnia and Herzegovina
gdpPercap_1962    Bosnia and Herzegovina
gdpPercap_1967    Bosnia and Herzegovina
gdpPercap_1972    Bosnia and Herzegovina
gdpPercap_1977    Bosnia and Herzegovina
gdpPercap_1982                   Albania
gdpPercap_1987                   Albania
gdpPercap_1992                   Albania
gdpPercap_1997                   Albania
gdpPercap_2002                   Albania
gdpPercap_2007                   Albania
dtype: object

3. Print out the median GDP per capita across all countries for each year.

_Hint: Use `median()`._

In [63]:
data.median()

gdpPercap_1952     5142.469716
gdpPercap_1957     6066.721495
gdpPercap_1962     7515.733737
gdpPercap_1967     9366.067033
gdpPercap_1972    12326.379990
gdpPercap_1977    14225.754515
gdpPercap_1982    15322.824720
gdpPercap_1987    16215.485895
gdpPercap_1992    17550.155945
gdpPercap_1997    19596.498550
gdpPercap_2002    23674.863230
gdpPercap_2007    28054.065790
dtype: float64