# Exercise 13: Writing Functions

## Aim: Introduce writing and calling functions.

### Issues covered:
- Writing a simple function
- Indenting code within a function
- Sending arguments to functions
- Calling functions
- Checking arguments in functions

## 1. Let's write a simple function and use it

Use the `def` function to define a function called `hello` to introduce yourself.

In [1]:
def hello(name,age,job):
    introduction = f"Hello my name is {name}, I'm {age} years old, and I am a {job}"
    return introduction

Did the function return anything? If not, try running it!

In [2]:
hello(job="PhD Student",name="Will",age=24)

"Hello my name is Will, I'm 24 years old, and I am a PhD Student"

## 2. Now let's write a function that takes an argument

Write a function which takes a number and doubles it.

In [3]:
def doubler(number):
    number = number*2
    return number

Test the function by calling it with an integer, then a float.

In [5]:
doubler(1.7)

3.4

What happens if you give it a string rather than a number?

In [6]:
doubler("hello")

'hellohello'

What happens if you give it 2 numbers?

In [7]:
doubler(4,5)

TypeError: doubler() takes 1 positional argument but 2 were given

## 3. Let's take a look at what functions return

Why is the result of the following `None`? Can you fix it?
```
def print_time(hour, minute, second):
    time_string = str(hour) + ':' + str(minute) + ':' + str(second)
    print(time_string)

result = print_time(11, 37, 59)
print('result of call is:', result)
```

In [9]:
def print_time(hour, minute, second):
    time_string = str(hour) + ':' + str(minute) + ':' + str(second)
    return time_string

result = print_time(11, 37, 59)
print('result of call is:', result)

result of call is: 11:37:59

Run the following and take a look at what it prints. Restructure it so that instead it prints `calling pressure is 22.5`.
```
def report(pressure):
    print('pressure is', pressure)

print('calling', report, 22.5)
```

In [21]:
def report(pressure):
    intro= 'calling pressure is'
    statement = intro + ' '+ str(pressure)
    return print(statement)
report(22.5)

calling pressure is 22.5

## 4. Let's write a function to use Pythagoras' Theorem, like in exercise 2.

Define a function `calc_hypo` that takes two arguments, `a` and `b`. Inside the function, define a variable `hypo` equal to the length of the hypotenuse and return the value.

In [28]:
def calc_hypo(a,b):
    hypo = (a**2 +b**2)**0.5
    return hypo

Test out the function by calling it with the values `3` and `4`.

In [30]:
calc_hypo(3,4)

5.0

Let's improve the function by adding some checks. Use `if` statements to print "bad argument" and return `None` if the argument type isn't `int` or `float`.

In [44]:
def calc_hypo(a,b):
    if (type(a) and type(b)) is (int or float):
        hypo = (a**2 +b**2)**0.5
        return hypo
    else:
        print("bad argument")
        return None
calc_hypo(3,"peas")

bad argument

Call the function with different arguments to check that this is working.

In [45]:
calc_hypo(3,"peas")

bad argument

Add a second check to the function which prints "Bad argument" and returns `None` if a number equal to or less than zero is given.

In [69]:
def calc_hypo(a,b):
    if (a<=0) or (b <= 0):
        print("bad argument")
        return None
    elif (type(a) and type(b)) is (int or float):
        hypo = (a**2 +b**2)**0.5
        return hypo
    else:
        print("bad argument")
        return None

Test out the check you added.

In [72]:
calc_hypo(3,0)

bad argument

## 5. Extension Activity

1. Write a function which computes the average GDP for each file for a given country, continent and year.

_Hint: You will need the following steps:_
1. Create a function with the arguments country, continent, year.
2. Read the csv file (use the continent variable in the filename to open any file - e.g. the file name should be /data/`continent`_gdp.csv).
3. Use `.loc[ ]` to locate where the data for the country is.
4. Work out the GDP decade using the year given (maybe using floor division `//`).
5. Loop over the columns to find the one which starts with 'gdpPercap_`year`' (make use of `.index` and `.startswith()`).
6. Try calling the function and see what it returns - if you call it for Canada, americas in 1952 your answer should be 11928.55559.

In [107]:
import pandas as pd
from pathlib import Path
def gdp_avg(country,continent,year):
    file = pd.read_csv('../data/'+continent+'_gdp.csv',index_col="country")
    years = file.columns.str.replace('gdpPercap_','')
    file.columns = years
    file.loc[country,:]
    
    return file
gdp_avg("Albania","europe",1957)

,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820
Croatia,3119.236520,4338.231617,5477.890018,6960.297861,9164.090127,11305.385170,13221.821840,13822.583940,8447.794873,9875.604515,11628.388950,14619.222720
Czech Republic,6876.140250,8256.343918,10136.867130,11399.444890,13108.453600,14800.160620,15377.228550,16310.443400,14297.021220,16048.514240,17596.210220,22833.308510
Denmark,9692.385245,11099.659350,13583.313510,15937.211230,18866.207210,20422.901500,21688.040480,25116.175810,26406.739850,29804.345670,32166.500060,35278.418740
Finland,6424.519071,7545.415386,9371.842561,10921.636260,14358.875900,15605.422830,18533.157610,21141.012230,20647.164990,23723.950200,28204.590570,33207.084400
France,7029.809327,8662.834898,10560.485530,12999.917660,16107.191710,18292.635140,20293.897460,22066.442140,24703.796150,25889.784870,28926.032340,30470.016700
Germany,7144.114393,10187.826650,12902.462910,14745.625610,18016.180270,20512.921230,22031.532740,24639.185660,26505.303170,27788.884160,30035.801980,32170.374420
Greece,3530.690067,4916.299889,6017.190733,8513.097016,12724.829570,14195.524280,15268.420890,16120.528390,17541.496340,18747.698140,22514.254800,27538.411880
Hungary,5263.673816,6040.180011,7550.359877,9326.644670,10168.656110,11674.837370,12545.990660,12986.479980,10535.628550,11712.776800,14843.935560,18008.944440
Iceland,7267.688428,9244.001412,10350.159060,13319.895680,15798.063620,19654.962470,23269.607500,26923.206280,25144.392010,28061.099660,31163.201960,36180.789190
Ireland,5210.280328,5599.077872,6631.597314,7655.568963,9530.772896,11150.981130,12618.321410,13872.866520,17558.815550,24521.947130,34077.049390,40675.996350
Italy,4931.404155,6248.656232,8243.582340,10022.401310,12269.273780,14255.984750,16537.483500,19207.234820,22013.644860,24675.024460,27968.098170,28569.719700
Montenegro,2647.585601,3682.259903,4649.593785,5907.850937,7778.414017,9595.929905,11222.587620,11732.510170,7003.339037,6465.613349,6557.194282,9253.896111
Netherlands,8941.571858,11276.193440,12790.849560,15363.251360,18794.745670,21209.059200,21399.460460,23651.323610,26790.949610,30246.130630,33724.757780,36797.933320
Norway,10095.421720,11653.973040,13450.401510,16361.876470,18965.055510,23311.349390,26298.635310,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170
Poland,4029.329699,4734.253019,5338.752143,6557.152776,8006.506993,9508.141454,8451.531004,9082.351172,7738.881247,10159.583680,12002.239080,15389.924680
Portugal,3068.319867,3774.571743,4727.954889,6361.517993,9022.247417,10172.485720,11753.842910,13039.308760,16207.266630,17641.031560,19970.907870,20509.647770
Romania,3144.613186,3943.370225,4734.997586,6470.866545,8011.414402,9356.397240,9605.314053,9696.273295,6598.409903,7346.547557,7885.360081,10808.475610
Serbia,3581.459448,4981.090891,6289.629157,7991.707066,10522.067490,12980.669560,15181.092700,15870.878510,9325.068238,7914.320304,7236.075251,9786.534714
Slovak Republic,5074.659104,6093.262980,7481.107598,8412.902397,9674.167626,10922.664040,11348.545850,12037.267580,9498.467723,12126.230650,13638.778370,18678.314350
Slovenia,4215.041741,5862.276629,7402.303395,9405.489397,12383.486200,15277.030170,17866.721750,18678.534920,14214.716810,17161.107350,20660.019360,25768.257590
Spain,3834.034742,4564.802410,5693.843879,7993.512294,10638.751310,13236.921170,13926.169970,15764.983130,18603.064520,20445.298960,24835.471660,28821.063700
Sweden,8527.844662,9911.878226,12329.441920,15258.296970,17832.024640,18855.725210,20667.381250,23586.929270,23880.016830,25266.594990,29341.630930,33859.748350
Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280